.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  color: #36696d;
  text-decoration: none;
}
.navigation-links-navlink1 {
  color: #36696d;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2 {
  color: #36696d;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink3 {
  color: #36696d;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}




















@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.blog-post-card-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.blog-post-card-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card-container {
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.blog-post-card-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.blog-post-card-text {
  color: var(--dl-color-gray-500);
  margin-top: var(--dl-space-space-oneandhalfunits);
  font-weight: 600;
  padding-top: 0px;
  padding-bottom: 0px;
  text-transform: uppercase;
}
.blog-post-card-text1 {
  align-self: stretch;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.blog-post-card-text2 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  align-self: stretch;
  margin-bottom: var(--dl-space-space-halfunit);
}
.blog-post-card-container2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.blog-post-card-image {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-top: 0px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}

.blog-post-card-root-class-name1 {
  flex: 1;
  width: auto;
  align-self: stretch;
  background-color: var(--dl-color-gray-white);
}
.blog-post-card-root-class-name3 {
  width: auto;
  align-self: stretch;
  background-color: var(--dl-color-gray-white);
}
.blog-post-card-root-class-name4 {
  flex: 1;
  width: auto;
  align-self: stretch;
  background-color: var(--dl-color-gray-white);
}

@media(max-width: 991px) {
  .blog-post-card-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .blog-post-card-blog-post-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .blog-post-card-container2 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.data-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.data-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.data-image {
  height: var(--dl-size-size-small);
  align-self: center;
}
.data-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.data-burger-menu {
  display: none;
}
.data-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.data-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.data-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.data-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.data-image1 {
  height: 2rem;
}
.data-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.data-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.data-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.data-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.data-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.data-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #608f94;
}
.data-text {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
}
.data-button {
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-halfunit);
}
.data-button:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.data-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  background-color: #608f94;
}
.data-container3 {
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.data-blog {
  height: auto;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  max-width: var(--dl-size-size-maxwidth);
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  background-color: #608f94;
}
.data-container4 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.data-container5 {
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.data-blog1 {
  flex: 1;
  width: auto;
  height: var(--dl-size-size-maxwidth);
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  max-width: var(--dl-size-size-maxwidth);
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  background-color: #608f94;
}
.data-container6 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.data-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.data-image2 {
  height: 2rem;
  object-fit: cover;
}
.data-text5 {
  color: #36696d;
}
@media(max-width: 991px) {
  .data-text {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .data-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .data-nav {
    display: none;
  }
  .data-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .data-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .data-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .data-blog1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .data-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .data-text5 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .data-header {
    padding: var(--dl-space-space-unit);
  }
  .data-mobile-menu {
    padding: 16px;
  }
  .data-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .data-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .data-blog1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .data-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .data-image2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .data-text5 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

/* Add some spacing between table columns */
table {
border-collapse: separate;
    width: 100%;
}

table, th, td {
  padding: 5px;
}

/* Style for the left column (labels) */
td.left-column {
    text-align: left;
    vertical-align: top;
    font-weight: bold;
    margin-right: 50px;
    width: 35%;
  }