.navigation-links-nav{
    flex:0 0 auto;
    display:flex;
    align-items:center;
    flex-direction:row
}
.navigation-links-navlink{
    color:#36696d;
    text-decoration:none
}
.navigation-links-navlink1{
    color:#36696d;
    margin-left:var(--dl-space-space-twounits);
    text-decoration:none
}
.navigation-links-navlink2{
    color:#36696d;
    margin-left:var(--dl-space-space-twounits);
    text-decoration:none
}
.navigation-links-navlink3{
    color:#36696d;
    margin-left:var(--dl-space-space-twounits);
    text-decoration:none
}
@media (max-width:767px){
    .navigation-links-nav{
        align-items:flex-start;
        flex-direction:column
    }
    .navigation-links-navlink{
        margin-bottom:var(--dl-space-space-unit)
    }
    .navigation-links-navlink1{
        margin-left:0;
        margin-bottom:var(--dl-space-space-unit)
    }
    .navigation-links-navlink2{
        margin-left:0;
        margin-bottom:var(--dl-space-space-unit)
    }
    .navigation-links-navlink3{
        margin-left:0;
        margin-bottom:var(--dl-space-space-unit)
    }
}
.termos-container{
    width:100%;
    display:flex;
    overflow:auto;
    min-height:100vh;
    align-items:center;
    flex-direction:column
}
.termos-header{
    width:100%;
    display:flex;
    max-width:var(--dl-size-size-maxwidth);
    align-items:center;
    padding-top:var(--dl-space-space-twounits);
    padding-left:var(--dl-space-space-threeunits);
    padding-right:var(--dl-space-space-threeunits);
    padding-bottom:var(--dl-space-space-twounits);
    justify-content:space-between
}
.termos-navlink{
    display:contents
}
.termos-image{
    height:var(--dl-size-size-small);
    align-self:center;
    text-decoration:none
}
.termos-nav{
    flex:0 0 auto;
    display:flex;
    align-items:center;
    flex-direction:row
}
.termos-burger-menu{
    display:none
}
.termos-icon{
    width:var(--dl-size-size-xsmall);
    height:var(--dl-size-size-xsmall);
    display:flex
}
.termos-mobile-menu{
    top:0;
    left:0;
    width:100%;
    height:100vh;
    display:none;
    padding:32px;
    z-index:100;
    position:absolute;
    flex-direction:column;
    justify-content:space-between;
    background-color:#fff
}
.termos-nav1{
    display:flex;
    align-items:flex-start;
    flex-direction:column
}
.termos-container1{
    width:100%;
    display:flex;
    align-items:center;
    margin-bottom:var(--dl-space-space-threeunits);
    justify-content:space-between
}
.termos-image1{
    height:2rem
}
.termos-close-mobile-menu{
    display:flex;
    align-items:center;
    justify-content:center
}
.termos-icon02{
    width:var(--dl-size-size-xsmall);
    height:var(--dl-size-size-xsmall)
}
.termos-icon04{
    width:var(--dl-size-size-xsmall);
    height:var(--dl-size-size-xsmall);
    margin-right:var(--dl-space-space-twounits)
}
.termos-icon06{
    width:var(--dl-size-size-xsmall);
    height:var(--dl-size-size-xsmall);
    margin-right:var(--dl-space-space-twounits)
}
.termos-icon08{
    width:var(--dl-size-size-xsmall);
    height:var(--dl-size-size-xsmall)
}
.termos-hero{
    flex:1;
    width:100%;
    height:100%;
    display:flex;
    max-width:auto;
    align-self:center;
    max-height:auto;
    min-height:auto;
    align-items:center;
    padding-top:0;
    padding-left:var(--dl-space-space-sixunits);
    padding-right:var(--dl-space-space-sixunits);
    flex-direction:row;
    padding-bottom:0;
    justify-content:flex-end;
    background-color:#608f94
}
.termos-container2{
    flex:0 0 auto;
    width:100%;
    display:flex;
    align-self:stretch;
    align-items:flex-start;
    padding-top:0;
    padding-left:var(--dl-space-space-sixunits);
    padding-right:var(--dl-space-space-sixunits);
    padding-bottom:0
}
.termos-image2{
    width:25rem;
    align-self:stretch;
    margin-top:var(--dl-space-space-fourunits);
    object-fit:cover;
    margin-left:var(--dl-space-space-oneandhalfunits);
    margin-right:var(--dl-space-space-oneandhalfunits);
    margin-bottom:var(--dl-space-space-fourunits)
}
.termos-container3{
    margin:var(--dl-space-space-twounits);
    display:flex;
    flex-direction:column
}
.termos-text{
    color:var(--dl-color-gray-white);
    font-size:3rem;
    align-self:center
}
.termos-text01{
    color:var(--dl-color-gray-900);
    align-self:flex-start;
    margin-top:var(--dl-space-space-twounits);
    margin-left:0;
    margin-right:0;
    margin-bottom:var(--dl-space-space-twounits);
    padding-right:var(--dl-space-space-threeunits)
}
.termos-text03{
    background-color:var(--dl-color-gray-white)
}
.termos-text06{
    background-color:var(--dl-color-gray-white)
}
.termos-text09{
    background-color:var(--dl-color-gray-white)
}
.termos-text12{
    background-color:var(--dl-color-gray-white)
}
.termos-text15{
    background-color:var(--dl-color-gray-white)
}
.termos-text18{
    background-color:var(--dl-color-gray-white)
}
.termos-text21{
    background-color:var(--dl-color-gray-white)
}
.termos-text24{
    background-color:var(--dl-color-gray-white)
}
.termos-text27{
    background-color:var(--dl-color-gray-white)
}
.termos-text30{
    background-color:var(--dl-color-gray-white)
}
.termos-text33{
    background-color:var(--dl-color-gray-white)
}
.termos-text36{
    background-color:var(--dl-color-gray-white)
}
.termos-text39{
    background-color:var(--dl-color-gray-white)
}
.termos-text42{
    background-color:var(--dl-color-gray-white)
}
.termos-text45{
    background-color:var(--dl-color-gray-white)
}
.termos-text48{
    background-color:var(--dl-color-gray-white)
}
.termos-text51{
    background-color:var(--dl-color-gray-white)
}
.termos-footer{
    width:100%;
    display:flex;
    max-width:var(--dl-size-size-maxwidth);
    align-items:center;
    padding-top:var(--dl-space-space-twounits);
    padding-left:var(--dl-space-space-threeunits);
    padding-right:var(--dl-space-space-threeunits);
    padding-bottom:var(--dl-space-space-twounits);
    justify-content:space-between
}
.termos-image3{
    height:2rem;
    object-fit:cover
}
.termos-text54{
    color:#36696d
}
@media (max-width:1500px){
    .termos-hero{
        padding-left:var(--dl-space-space-fourunits);
        padding-right:var(--dl-space-space-fourunits)
    }
    .termos-container2{
        padding-left:var(--dl-space-space-fourunits);
        padding-right:var(--dl-space-space-fourunits)
    }
}
@media (max-width:1400px){
    .termos-hero{
        padding-left:var(--dl-space-space-twounits);
        padding-right:var(--dl-space-space-twounits)
    }
    .termos-container2{
        padding-left:var(--dl-space-space-twounits);
        padding-right:var(--dl-space-space-twounits)
    }
}
@media (max-width:1200px){
    .termos-hero{
        padding-left:var(--dl-space-space-unit);
        padding-right:var(--dl-space-space-unit)
    }
    .termos-container2{
        padding-left:var(--dl-space-space-unit);
        padding-right:var(--dl-space-space-unit)
    }
}
@media (max-width:1110px){
    .termos-hero{
        padding:var(--dl-space-space-threeunits);
        padding-top:var(--dl-space-space-unit);
        padding-bottom:var(--dl-space-space-unit);
        flex-direction:column
    }
    .termos-image2{
        display:none
    }
    .termos-container3{
        align-items:center;
        margin-left:0;
        margin-right:0;
        margin-bottom:0
    }
    .termos-text{
        text-align:center
    }
    .termos-text01{
        text-align:center;
        padding-left:var(--dl-space-space-fourunits)
    }
}
@media (max-width:900px){
    .termos-nav{
        display:none
    }
    .termos-burger-menu{
        display:flex;
        align-items:center;
        justify-content:center
    }
}
@media (max-width:767px){
    .termos-header{
        padding-left:var(--dl-space-space-twounits);
        padding-right:var(--dl-space-space-twounits)
    }
    .termos-hero{
        padding-left:var(--dl-space-space-twounits);
        padding-right:var(--dl-space-space-twounits)
    }
    .termos-footer{
        padding-left:var(--dl-space-space-twounits);
        padding-right:var(--dl-space-space-twounits)
    }
    .termos-text54{
        text-align:center;
        margin-left:var(--dl-space-space-unit);
        margin-right:var(--dl-space-space-unit)
    }
    .termos-container2{
        padding-top:0;
        padding-left:var(--dl-space-space-twounits);
        padding-right:var(--dl-space-space-twounits);
        padding-bottom:0
    }
}
@media (max-width:479px){
    .termos-container2{
        padding-top:0;
        padding-left:0;
        padding-right:0;
        padding-bottom:0
    }
    .termos-header{
        padding:var(--dl-space-space-unit)
    }
    .termos-mobile-menu{
        padding:16px
    }
    .termos-hero{
        padding-top:var(--dl-space-space-twounits);
        padding-left:var(--dl-space-space-unit);
        padding-right:var(--dl-space-space-unit);
        padding-bottom:var(--dl-space-space-twounits)
    }
    .termos-container3{
        margin-bottom:var(--dl-space-space-unit)
    }
    .termos-text01{
        padding-left:var(--dl-space-space-unit);
        padding-right:var(--dl-space-space-unit)
    }
    .termos-footer{
        padding:var(--dl-space-space-unit);
        flex-direction:column
    }
    .termos-image3{
        margin-bottom:var(--dl-space-space-unit)
    }
    .termos-text54{
        margin-left:0;
        margin-right:0;
        margin-bottom:var(--dl-space-space-unit)
    }
}
